Package: enigma2-plugin-skins-ozeta-fhd
Version: 1.5.1
Section: base
Priority: optional
Architecture: all
Maintainer: MMark
Description: FHD Skin for OpenPLi by MMark
Depends:
Source: https://github.com/Belfagor2005/oZeta_skin
OE: Enigma2 Skin
License: open
